:root {
  font-family: Open Sans, sans-serif;
  font-size: 0.75rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
